global:
  scrape_interval: 30s
  scrape_timeout: 10s
  evaluation_interval: 30s
scrape_configs:
  - job_name: java-tron
    honor_timestamps: true
    scrape_interval: 3s
    scrape_timeout: 2s
    metrics_path: /metrics
    scheme: http
    follow_redirects: true
    static_configs:
      - targets:
          - tron-node1:9527 # use container name
        labels:
          group: group-tron
          instance: fullnode-01
#      - targets: # to add more fullnodes
#          - tron-node2:9527
#        labels:
#          group: group-tron
#          instance: fullnode-01
